.mainTitle {
  margin: 0;
  font-size: 7rem;
  text-align: center;
}

.wrapper {
  display: flex;
}
.group {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.groupHeading {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.ul {
  max-width: 800px;
}

.title {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: normal;
}

.loading {
  margin: 2rem;
  font-size: 4rem;
}
.fail {
  color: red;
  font-size: 4rem;
}


@media (max-width: 700px) {
  .wrapper {
    display: block;
  }
  .ul {
    width: 100%;
    flex-direction: column;
  }
}
