
.mainTitle {
  margin: 0;
  padding: 0;
  font-size: 7rem;
  text-align: center;
}

.wrapper {
  display: flex;
}
.group {
  margin: 1rem;
  padding: 4rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--lightGrey2);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px;
  position: relative;
}

.buttonShow {
  position: absolute;  
  top: 2rem;
  right: 2rem;
  border: 0;
  background: transparent;
}
.buttonShow:before {
  content: '+';
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.buttonShowVisible:before {
  content: '-';
}
.buttonShow span {
  visibility: hidden;
}


/* .groupHeading - */
.groupHeading {
  margin: 0;
  font-size: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.groupHeadingTitle {
  margin: 0 2rem 0 0;
}

.sort {
  position: relative;
  font-size: 0.3rem;
  margin: 0 0 0 auto;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.sort span {
  visibility: hidden;
}

.sort::before {
  content: "";
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
}
.sortDesc::before {
  padding: 3px;
  transform: rotate(-135deg);
}
.sortAsc::before {
  padding: 3px;
  transform: rotate(45deg);
}

.empty {
  color: var(--lightGrey1);
  text-align: center;
}
/* end .groupHeading */
.ul {
  margin: 0;
  padding: 0;
  max-width: 800px;
  list-style-type: none;
}

.todoGroup {
  margin: 0 2rem 1rem 1rem;
  font-size: 2.5rem;
  font-weight: normal;
}

.loading {
  margin: 2rem;
  font-size: 4rem;
}
.fail {
  color: red;
  font-size: 4rem;
}
.label {
  display: flex;
  align-items: center;
}
.completed {
  font-style: normal;
  color: var(--date);
  margin: 0 0 0 auto;
  font-size: 1.4rem;
}

/* form */
.formAdd {
  min-width: 40rem;
  margin: 0 auto;
}


.legend {
  font-size: 2rem;
  display: none;
}
.inputText, .addButton {
  padding: 2rem;
  border-radius: 0.4rem;
  font-size: 2rem;
}
.inputText {
  border: 1px solid var(--darkGrey1);
}
.inputText::placeholder {
  color: var(--lightGrey3);
}
.inputText:active,
.inputText:focus {
  outline: none;
  border-color: var(--darkGrey3);
}

.addButton {
  background: var(--button);
  color: white;
  margin: 0 0 0 1rem;
  border: 0;
  cursor: pointer;
}
.addButton:hover {
  background: var(--buttonHighlight);
}

@media (max-width: 700px) {
  .wrapper {
    display: block;
  }
  .ul {
    width: 100%;
    flex-direction: column;
  }
}


/* sticky top */
.mainTitle {
  /* visibility: hidden; */
  display: none;
}
.formAdd {
  position: fixed;
  top:0;
  width: 100%;
  height: 10rem;
  background: var(--lightGrey4);
  z-index: 20;/* above wrapper */
  background: var(--darkGrey2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper {
  margin-top: 8rem;
}